requests
pytz
Flask
numpy
pandas
matplotlib
nolds
scipy
scikit-learn
joblib
gunicorn
uvicorn
git+https://github.com/AqeelMuhammad/FYP-All-files.git#subdirectory=preprocessing_tool
noise_reduction
peak_detection
